div
  strong.title #{title}
  p Hi #{first_name} #{last_name},
  p We received your registration for the ICT Congress 2024 event. Please proceed to the officer in charge to pay for the registration fee. Thank you