div
  strong.title #{title}
  p Hi #{first_name} #{last_name},
  p You have successfully claimed your ICT Congress 2024 t-shirt. Wear your shirt during the event and use the QR code below for the event's attendance.

  table
    tr
      td(align="center")
        img(src=qrcode_url, style="max-width:300px")